

.second {
  display: table-cell;
  padding-left: 1rem;
  width: 90rem;
  
}

.second label{
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
}

option {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
}
